PORT=3000

# Mercado Pago
# Em ambiente de teste: TEST-xxxxxxxxxxxx
# Em ambiente de produção: APP_USR-xxxxxxxxxxxx
MERCADOPAGO_ACCESS_TOKEN=seu_access_token_aqui

# Supabase
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_SECRET_KEY=sua_service_role_secret_key_aqui
SUPABASE_PUBLISHABLE_KEY=sua_publishable_key_aqui
